## Day 1

Python is a versitale, highly readable/maintainable, and batteries included language.

Its interpreted vs compiled which means it might be slower than you'd expect compared to C/C++ but it is, hopefully, quicker and easier to read, write, and maintain. It is an Object Oriented Programming (OOP) language but contain a lot of features that allow it to act like a functional language if desired.

### Absolute Basics

Let's start with numbers. Some of the biggest advancements in computing power have been driven by our need to count. Think census data.

In [1]:
1 + 1  # basic math

2

In [2]:
2 * 3

6

In [3]:
5 % 2  # modulo operator

1

In [4]:
5 / 2  # basic math

2.5

In [5]:
-2 ** 3

-8

In [6]:
1e3  # E-notation

1000.0

In [7]:
4 + 2j  # Complex

(4+2j)

In [8]:
'Hi!'  # Simple string

'Hi!'

In [9]:
# A comment!

In [10]:
print('Hi Colubmia!')  # A built-in function, functions

Hi Colubmia!

In [11]:
True  # Booleans

True

In [12]:
False  # Booleans

False

In [13]:
None  # Nothing!

In [14]:
2 == 2  # Relational Operators

True

In [15]:
2 != 2  # Relational Operators

False

In [16]:
2 > 2  # Relational Operators

False

In [17]:
2 < 3 < 4  # Relational Operators

True

In [18]:
True and False  # Boolean Operators

False

In [19]:
True or False  # Boolean Operators

True

In [20]:
not False  # Logical Operator

True

In [21]:
2 is 2  # Identity Operators

True

In [1]:
[1, 2, 3] is [1, 2, 3]  # Different places in memmory

False

In [2]:
[1, 2, 3] == [1, 2, 3]  # Same values in list

True

In [23]:
print(True, 'Bear Cat', 1)

True Moose 1

#### Exercise 

- Choose any real number. Write code to double that number. Add six to that. Then divide by two. Finally, subtract your original number from the result of dividing by two. You should get 3.0.

In [25]:
(((7 * 2) + 6) / 2) - 7

3.0

#### Exercise 

- Create a string. See if that string is equivalent to a copy of itself using a relational operator.

In [26]:
'Hi!' == 'Hi!'

True

#### Exercise 

- Check to see if False "is" False and if True "is" True using an identity operator.

In [27]:
True is True

True

In [28]:
False is False

True

### Variables

In [29]:
a = 1
b = 2
c = a + b
c

3

In [30]:
a == b

False

#### Exercise 

- Copy the expression from the exercise above and replace the "original number" with a variable. Run the expression several times with the variable set to different values.

In [33]:
j = 6
(((j * 2) + 6) / 2) - j

3.0

### More with strings

In [34]:
'Hi!' + ' ' + "I'm Paul!"  # Can "add" strings together

"Hi! I'm Paul!"

In [35]:
' '.join(['Hi!', "I'm Paul!"])  # Another way to join strings!

"Hi! I'm Paul!"

In [36]:
'Hi!' - ' ' - "I'm Paul!"  # Can not subtract strings though

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [4]:
first = 'Paul'
last = 'Logston'
f"Hi! I'm {first} {last}"  # f-strings (string literal with a preceeding 'f')

"Hi! I'm Paul Logston"

In [5]:
"Hi! I'm {} {}".format(first, last)  # Old style string replacementf

"Hi! I'm Paul Logston"

In [9]:
"Hi! I'm {} {} {}".format(first, last)  # Argument count has to be >= {}

IndexError: tuple index out of range

In [44]:
"Hi! I'm %s %s" % (first, last)  # Really old style replacement

"Hi! I'm Paul Logston"

In [45]:
"Hi! I'm Paul Logston".replace('Paul', 'Frog')

"Hi! I'm Frog Logston"

In [47]:
"Hi! I'm Paul Logston"[10]  # Slicing

'u'

In [59]:
"Hi! I'm Paul Logston"[:5]

'Hi! I'

In [52]:
"Hi! I'm Paul Logston"[-7:]

'Logston'

In [53]:
print("Hi! I'm Paul Logston"[-12:-7])  # Multiple results output, need to use print
print("Hi! I'm Paul Logston"[-7:])

Paul
Logston

#### Exercise

Create a string of the form "What's up! I'm [your first name]!". Bind that string to a variable. Slice the string (using the variable name rather than the stirng literal) to retrieve you name. Bind the sliced string to a new variable. Use an F-string to print your name.

In [54]:
s = "What's up! I'm Paul!"
name = s[-5:-1]
f'Howdy {name}'

'Howdy Paul'

### Functions

In [62]:
def func1():
    print('hi!')  # indentation!

print('back out') # no longer part of function

back out

In [63]:
func1()

hi!

In [64]:
def func2():
    return 1 + 1

In [65]:
func2()

2

In [66]:
one = func1()
two = func2()

print('func1 result:', one)
print('func2 result:', two)

hi!
func1 result: None
func2 result: 2

In [69]:
def func3(a, b):  # positional args
    return a - b

In [70]:
func3(5, 6)

-1

In [71]:
func3(6, 5)

1

In [76]:
def func4(a, b, c=0, d= 1):  # keyword args
    return (a + b) * c + d

In [80]:
print(func4(1, 3))
print(func4(1, 3, d=3, c=5))

1
23

In [82]:
list(range(5))  # Built in function that returns a list of numbers

[0, 1, 2, 3, 4]

In [83]:
random  # Let's try and use someone else's code

NameError: name 'random' is not defined

In [84]:
import random

random.randint(1, 10)

10

In [85]:
list = print  # shadowing a built-in. Don't do this!

In [86]:
list('hi', 'hello', 1)

hi hello 1

#### Exercise

Create a function that takes a number and performs the arithmetic operation described in the first exercise.

In [ ]:
def perform_op(x):
    return (((x * 2) + 6) / 2) - x

### Data Structures

In [87]:
a = [1, 2, 3]
a

[1, 2, 3]

In [88]:
a[0]

1

In [89]:
a[1:]

[2, 3]

In [90]:
a[0] = 4
a

[4, 2, 3]

In [91]:
'123'[0] = 4

TypeError: 'str' object does not support item assignment

In [92]:
b = ['one', 2, []]
b

['one', 2, []]

In [93]:
b[2][:] = [1, 2, 3]
b

['one', 2, [1, 2, 3]]

In [94]:
d = [4, 5, 6] + [1, 2, 3] 
d

[4, 5, 6, 1, 2, 3]

In [95]:
len(d)

6

In [96]:
print(3 in d)
print('one' in d)

True
False

In [97]:
d.append(7)
d

[4, 5, 6, 1, 2, 3, 7]

In [98]:
d.extend([10, 8, 9])
d

[4, 5, 6, 1, 2, 3, 7, 10, 8, 9]

In [99]:
d.insert(0, -1)
d

[-1, 4, 5, 6, 1, 2, 3, 7, 10, 8, 9]

In [101]:
sorted(d, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, -1]

In [102]:
d  # Original list is still unsorted

[-1, 4, 5, 6, 1, 2, 3, 7, 10, 8, 9]

In [103]:
d.sort()  # inplace sort
d

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
sorted(['1', 1])  # TypeError

In [105]:
a = (1, 2, 3)
a

(1, 2, 3)

In [106]:
b = (1, 2, 3) + (4, 5, 6)
b

(1, 2, 3, 4, 5, 6)

In [107]:
b[0]

1

In [108]:
b[0] = -1

TypeError: 'tuple' object does not support item assignment

In [109]:
b.append(7)

AttributeError: 'tuple' object has no attribute 'append'

#### Exercise

Create a list of 3 items. Cast that list to a tuple.

In [110]:
tuple([True, 'Two', 3])

(True, 'Two', 3)

In [124]:
a = {'a', 'a', 'b', 'b', 'c'}
a

{'a', 'b', 'c'}

In [123]:
a.add([])

TypeError: unhashable type: 'list'

In [126]:
a.add(1)
a

{'b', 'a', 1, 'c'}

In [112]:
a[0]  # No order!

TypeError: 'set' object does not support indexing

In [113]:
a.add('d')
a

{'a', 'b', 'c', 'd'}

In [114]:
print(a.pop())
print(a)

b
{'d', 'a', 'c'}

In [115]:
b = {'d', 'b', 'e'}
print('Union', a | b)
print('Intersection', a & b)
print('Symmetric Difference', a ^ b)
print('Difference', a - b)

Union {'b', 'e', 'd', 'a', 'c'}
Symmetric Difference {'c', 'a', 'b', 'e'}
Intersection {'d'}
Difference {'a', 'c'}

#### Exercise

Make two sets. Find the intersection of the two sets. Find both differences.

In [ ]:
{1, 2, 3, 4} & {4, 5, 6}
{1, 2, 3, 4} - {4, 5, 6}
{4, 5, 6} - {1, 2, 3, 4}

In [116]:
a = {
    'a': 1,
    'b': 2,
    'c': [4, 5, 6],
}
a

{'a': 1, 'b': 2, 'c': [4, 5, 6]}

In [117]:
a['a']

1

In [118]:
a['c']

[4, 5, 6]

In [119]:
a['b'] = -5
a['d'] = 10
a

{'a': 1, 'b': -5, 'c': [4, 5, 6], 'd': 10}

Make a dictionary that contains each letter of your first name as a key. The value for each key should be the position of the letter in your name (0 indexed). Eg. My name is 'Paul' and my dictionary would be:

```
{'p': 0, 'a': 1, 'u': 2, 'l': 3}
```

### Conditionals + Control Flow

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 > 2:
    print('Yep!')

In [ ]:
if 1 > 2:
    print('Yep!')
else:
    print('Nope!')

In [ ]:
if 1 > 2:
    print('Yep!')
elif 4 < 5:
    print('Still yes :)')
else:
    print('Nope!')

In [ ]:
if True and True:
    print('One')

if True or True:
    print('Two')
    
if True and False:
    print('Three')
    
if True or False:
    print('Four')

In [ ]:
a = True
if a:
    print('YES')

In [ ]:
a = (1 + 2)
if a:
    print('YES')

In [ ]:
a = (1 - 1)
if a:
    print('YES')

In [ ]:
if []:
    print('YES')

### Looping

In [ ]:
for x in range(5):
    print(x)

In [ ]:
for x in [1, 2, 3]:
    print(x)
x

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1
i

In [ ]:
for x in range(10):
    if x % 2:
        continue
    print(x)

In [ ]:
for x in range(10):
    if x % 2:
        break  # Eject!
    print(x)

In [ ]:
# for has an else clause that gets executed if there are no breaks!
for x in range(10):
    break
else:
    print('No breaks!')

In [ ]:
for x in range(10):
    continue
else:
    print('No breaks!')

#### Exercise

Using the `perform_op` function from before, verify that `perform_op` returns `3.0` for all numbers between `-10000` and `10000`.

In [ ]:
for x in range(-10000, 10000):
    if perform_op(x) != 3.0:
        break
else:
    print('Yep. All 3.0s.')